<!-- Sonidos -->
		<!--<audio src="sonidos/boton1.wav" preload></audio>
		<audio src="sonidos/boton2.wav" preload></audio>
		<audio src="sonidos/entrada1.wav" preload></audio>-->
		
		
		<div class="contenido">
			<div class="encabezado">
			       
				<h2> Ejercicio: Datos</h2>		  
            </div>	
    <div class="linea"></div>
			
			<!-- EJERCICIO -->
			<div class="ejercicio">
				<div id='boxes'>
				  <p>&nbsp;</p>
	<blockquote>
			<blockquote>
				<blockquote>
					<blockquote>
						
    <img src='/assets/CADENA.png' alt='cad' width="185" height="185" class='box' id='Cadena' title='Cadena' />
	<img src='/assets/ENTERO.png' alt='ent' width="185" height="185" class='box' id='Entero' title='Entero' />
	 <img src='/assets/FLOTANTE.png' alt='float' width="185" height="185" class='box' id='Flotante' title='Flotante' />
    <img src='/assets/CARACTER.png' alt='car' width="185" height="185" class='box' id='Caracter' title='Caracter' />
   
					</blockquote>
				</blockquote>		
			</blockquote>
</blockquote>
   
                    <h2>Respuestas:</h2>	
              </div>

			<!-- SECCIÓN DE LAS ETIQUETAS -->
			<section id='items'>	
			</section>		
			</div>	
			<div class="demo">

             <center><button id="Siguiente">Siguiente Ejercicio</button></center>
		    <button id="validar">Obtener Puntos</button>
		    <button id="tarea">Tarea            </button>
			</div>
			<!-- End demo -->
		</div>    <!-- fin container -->