		<div class="contenido">
			<div class="encabezado">
			       <br /><br />
			       <br /><br />
				<h1>Ejercicio: Datos</h1>		  
            </div>	
    <div class="linea"></div>
			<br /><br />
			<br /><br />
			<!-- EJERCICIO -->
			<div class="ejercicio">
				<div id='boxes'>
				  <p>&nbsp;</p>
	<blockquote>
			<blockquote>
				<blockquote>
					<blockquote>
    <img src='/assets/CADENA.png' alt='cad' width="185" height="185" class='box' id='Cadena' title='Cadena' />
	<img src='/assets/ENTERO.png' alt='ent' width="185" height="185" class='box' id='Entero' title='Entero' />
	 <img src='/assets/FLOTANTE.png' alt='float' width="185" height="185" class='box' id='Flotante' title='Flotante' />
    <img src='/assets/CARACTER.png' alt='car' width="185" height="185" class='box' id='Caracter' title='Caracter' />
   
					</blockquote>
				</blockquote>		
			</blockquote>
</blockquote>
   
                    <h2>Respuestas:</h2>	
              </div>

			<!-- SECCIÓN DE LAS ETIQUETAS -->
			<section id='items'>	
			</section>		
			</div>	
			<div class="demo">
             <center><button id="Siguiente">Siguiente Ejercicio</button></center>
			</div>
			<!-- End demo -->
		</div>    <!-- fin container -->