// Place all the styles related to the controlador controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('reset.css');

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background: rgb(179, 1, 55);
  //background-image: url("assets/Fondo.jpg"); 
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 20px;
  min-height: 800px; }

/* TEXTO */

a {
  color: #000; }

h1, h2, h5 {
  margin: 20px 20px 10px 20px;
  font-size: 56px;
  color: #000000;
  font-family: 'Volkhov',sans-serif;
  text-align: center;
  font-weight: 700;
  text-shadow: 5px 5px 3px #fff; }

h1 span, h5 {
  font-size: 18px;
  display: block;
  font-style: italic;
  color: #997f5a;
  font-weight: 400;
  text-shadow: 0px 1px 1px #fff; }

h1 {
  &:hover {
    text-shadow: 3px 3px 15px #e0d1bc; }
  span:hover {
    color: #fff; } }

/* Encabezado */

.encabezado {
  height: 25px;
  line-height: 24px;
  font-size: 13px;
  background: #000;
  opacity: 0.9;
  text-transform: uppercase;
  -moz-box-shadow: 1px 0px 2px #e0d1bc;
  -webkit-box-shadow: 2px 1px 5px #e0d1bc;
  box-shadow: 2px 1px 5px #e0d1bc;
  a {
    padding: 5px 10px;
    letter-spacing: 1px;
    color: #ddd;
    text-align: right;
    &:hover {
      color: #fff; }
    span {
      font-weight: bold; } }
  span.right_ab {
    position: absolute;
    right: 4px; } }
    
    @charset "utf-8";

body, div, h1, form, fieldset, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

html {
  height: 100%; }

.encabezado {
  height: 0px;
  line-height: 10px;
  font-size: 13px;
  background: 000;
  opacity: 0.6;
  -moz-box-shadow: 1px 0px 2px #e0d1bc;
  -webkit-box-shadow: 2px 1px 5px 369;
  box-shadow: 2px 1px 5px #e0d1bc;
  a {
    padding: 5px 10px;
    letter-spacing: 1px;
    color: #ddd;
    text-align: right;
    &:hover {
      color: 30F; }
    span {
      font-weight: bold; } }
  span.right_ab {
    position: absolute;
    right: 6px;
    top: 19px; } }
    
#contact {
  width: 1000px;
  margin: 60px auto;
  padding: 60px 30px;
  background: #c9d0de;
  border: 1px solid #e1e1e1;
  -moz-box-shadow: 0px 0px 8px #444;
  -webkit-box-shadow: 0px 0px 8px #444; }

label {
  float: left;
  clear: left;
  margin: 11px 20px 0 0;
  width: 95px;
  text-align: right;
  font-size: 16px;
  color: #445668;
  text-shadow: 0px 1px 0px #f2f2f2; }

input {
  width: 260px;
  height: 35px;
  padding: 5px 20px 0px 20px;
  margin: 0 0 20px 0;
  background: #5E768D;
  background: -moz-linear-gradient(top, #546a7f 0%, #5e768d 20%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #546a7f), color-stop(20%, #5e768d));
  /* webkit */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;
  -webkit-box-shadow: 0px 1px 0px #f2f2f2;
  font-family: sans-serif;
  font-size: 16px;
  color: #f2f2f2;
  text-shadow: 0px -1px 0px #334f71;
  &::-webkit-input-placeholder, &:-moz-placeholder {
    color: #a1b2c3;
    text-shadow: 0px -1px 0px #38506b; } }

textarea {
  width: 260px;
  height: 170px;
  padding: 12px 20px 0px 20px;
  margin: 0 0 20px 0;
  background: #5E768D;
  background: -moz-linear-gradient(top, #546a7f 0%, #5e768d 20%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #546a7f), color-stop(20%, #5e768d));
  /* webkit */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;
  -webkit-box-shadow: 0px 1px 0px #f2f2f2;
  font-family: sans-serif;
  font-size: 16px;
  color: #f2f2f2;
  text-shadow: 0px -1px 0px #334f71;
  &::-webkit-input-placeholder, &:-moz-placeholder {
    color: #a1b2c3;
    text-shadow: 0px -1px 0px #38506b; } }

input:focus, textarea:focus {
  background: #728eaa;
  background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #668099), color-stop(20%, #728eaa));
  /* webkit */ }

input[type=submit] {
  width: 185px;
  height: 52px;
  float: right;
  padding: 10px 15px;
  margin: 0 15px 0 0;
  -moz-box-shadow: 0px 0px 5px #999;
  -webkit-box-shadow: 0px 0px 5px #999;
  border: 1px solid #556f8c;
  background: -moz-linear-gradient(top, #718da9 0%, #415d79 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #718da9), color-stop(100%, #415d79));
  /* webkit */
  cursor: pointer; }

#tarea {
  margin-left: 200px;
  margin-top: 0px; }

#validar {
  margin-left: 450px;
  margin-top: 0px;
  width: 100px;
  height: 50px;
  background-color: #0f789b;
  font-weight: bold;
  opacity: 0.9;
  -moz-border-radius: 4px;
  -webkit-border-radius: 3px;
  border-radius: 15px 2px 15px 2px;
  background-image: linear-gradient(bottom, rgb(202, 240, 234) 4%, rgb(243, 255, 255) 52%);
  background-image: -o-linear-gradient(bottom, rgb(202, 240, 234) 4%, rgb(243, 255, 255) 52%);
  background-image: -moz-linear-gradient(bottom, rgb(202, 240, 234) 4%, rgb(243, 255, 255) 52%);
  background-image: -webkit-linear-gradient(bottom, rgb(202, 240, 234) 4%, rgb(243, 255, 255) 52%);
  background-image: -ms-linear-gradient(bottom, rgb(202, 240, 234) 4%, rgb(243, 255, 255) 52%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.04, rgb(15, 120, 155)), color-stop(0.52, rgb(15, 120, 155)));
  -moz-box-shadow: 0 4px 5px #CCA2A2;
  -webkit-box-shadow: 0 4px 5px #CCA2A2;
  box-shadow: 0 4px 5px #CCA2A2; }

#tarea, #Siguiente {
  width: 100px;
  height: 50px;
  background-color: #0f789b;
  font-weight: bold;
  opacity: 0.9;
  -moz-border-radius: 4px;
  -webkit-border-radius: 3px;
  border-radius: 15px 2px 15px 2px;
  background-image: linear-gradient(bottom, rgb(202, 240, 234) 4%, rgb(243, 255, 255) 52%);
  background-image: -o-linear-gradient(bottom, rgb(202, 240, 234) 4%, rgb(243, 255, 255) 52%);
  background-image: -moz-linear-gradient(bottom, rgb(202, 240, 234) 4%, rgb(243, 255, 255) 52%);
  background-image: -webkit-linear-gradient(bottom, rgb(202, 240, 234) 4%, rgb(243, 255, 255) 52%);
  background-image: -ms-linear-gradient(bottom, rgb(202, 240, 234) 4%, rgb(243, 255, 255) 52%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.04, rgb(15, 120, 155)), color-stop(0.52, rgb(15, 120, 155)));
  -moz-box-shadow: 0 4px 5px #CCA2A2;
  -webkit-box-shadow: 0 4px 5px #CCA2A2;
  box-shadow: 0 4px 5px #CCA2A2; }

#validar:hover, #tarea:hover {
  opacity: 1.0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 3px;
  border-radius: 20px 3px 20px 3px;
  box-shadow: black 0px 0px 40px, black 0px 0px 25px;
  -moz-box-shadow: black 0px 0px 40px, black 0px 0px 25px;
  -webkit-box-shadow: black 0px 0px 40px, black 0px 0px 25px;
  opacity: 1;
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2); }

.ejercicio {
  width: 750px;
  height: 820px;
  max-width: 1024px;
  margin: auto;
  background-color: #F7E7CE;
  border-top: 1px solid #DDD;
  border-left: 5px solid #DDD;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  #boxes {
    display: inline; } }

#items {
  margin-top: 10px; }

/* Distancia-izquierda del contenedor Características */

.ejercicio #boxes {
  #toolbox {
    float: left;
    margin-left: 95px; }
  #fruitbasket {
    float: left;
    margin-left: 95px;
    margin-top: 20px; } }

/* Distancia-derecha del contenedor Comportamiento */

#p3, #p4, #p5, #p6, #p7, #p8, #p9 {
  float: left;
  margin-left: 95px;
  margin-top: 5px; }

/* Posicion de las etiquetas */

.ejercicio #items {
  clear: left;
  text-align: center;
  .item {
    width: 100px;
    /* (1024 - 9*3)/10 */
    margin-right: 5px;
    margin-bottom: 20px; } }

/* Tamaño y distancia de las etiquetas*/

/* Aspecto de las etiquetas al ser seleccionadas */

.itemSelected {
  background-color: rgb(193, 240, 255);
  border: 3px solid rgb(247,231, 206); 
  border: 2px dashed #000; 
  
  }

/* Aspecto de los contenedores al ser señalados */

.itemOnDropArea {
  background-color: rgb(247,231, 206);
  border: 3px solid rgb(247, 231, 206); 

  }

